# Stack
.stack-work/
dist/
dist-newstyle/
.ghc.environment.*
.hi
.o
.dyn_hi
.dyn_o
.hpc/
.shake/

# Executables and Libraries
# Ignore executables created by the build process
*.[eE]xe
*.dll
*.so
*.dylib
# Ignore temporary files created by the linker
*.a
*.lib

# Editor/IDE files
.vscode/
.idea/

# GHCi/REPL History
.ghci

# special build files/folders
resources/images.ui
