.main-window {
  background-color: #282828;
}

.title-label {
  color: #ebdbb2;
}

.root {
  margin: 24px;
}

.settings-button {
  background-color: #ebdbb2;
  color: #282828;
  border-radius: 100px;
}

.wallpaper {

}

.wallpaper-active {
  border: 4px solid #ebdbb2;
}
