  <object class="GtkButton" id="{image-btn-id}">
    <property name="css-classes">image-button</property>
    <child>
      <object class="GtkPicture" id="{image-id}">
        <property name="file">{image-path}</property>
        <property name="css-classes">wallpaper</property>
      </object>
    </child>
  </object>
